<!DOCTYPE html>
<title>Mutlitask Bot</title>
<meta lang="en" charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--Latest compiled minified css -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <script  src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script  src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script  src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css')}}"></link>

<header class="jumbotron text-center">
    <h1>{{ data.name}}</h1>
    <p>
        Lets help clients
    </p>

</header>    

<main id="chat">
    <main class="container">
       {% block content %} {% endblock %}
    </main>

</main>

<footer class="d-flex flex-wrap justify-content-center align-iems-center p-3 text-white">
    <img src="{{ url_for('static' , filename='assets/footpic.png')}}">
    <div id="analytics" class="d-flex p-3 flex-columnm justify-items-center">
        <h2>commits</h2>
        <p>
            <span class="key">games</span><span class="value" id="made_count">54</span>

            </span>
        </p>

    </div>

</footer>

<script type="text/javascript" src="{{ url_for('static', filename='js/todo.js')}}"></script>